.dropbtn {
    background-color: rgb(122, 31, 31);
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    width: 150px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    top: 50px;
    left: 450px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(165, 92, 92);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(161, 101, 101, 0.2);
    z-index: 1;
    border-radius: 15px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color:rgb(187, 0, 0);
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(207, 7, 7);
    color: black;
  }
  
  li{
    list-style: none;
  }
  body{
    background: rgb(238, 237, 178);
    background: linear-gradient(90deg, rgb(250, 150, 150) 0%, rgba(240, 241, 245, 1) 39%, rgba(227, 227, 227, 1) 55%, rgb(250, 150, 150) 100%);
  }
  ul{
    padding: 0;
  }
  
 